.wrapper {
  .eric {
    margin-top: 50px;
    display: block;
    position: relative;
    text-align: center;
    @include desktop {
      text-align: inherit;
    }
    .photo-wraper {
      position: relative;
      .eric-large {
        max-width: 100%;
        z-index: -1000;
      }
      .gradient {
        position: absolute;
        background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
        width: 100%;
        height: 100%;
        top: 0;
      }
    }

    p {
      display: inline-block;
      text-align: justify;
      width: 90%;
      max-width: 710px;
      bottom: 5%;
      font-size: 1.05em;
      padding: 10px;
      font-size: 1.5em;
      @include desktop {
        font-size: 1em;
        float: left;
        position: absolute;
        width: 55%;
        margin-left: 20px;
      }
    }
  }
  .lineup {
    text-align: center;
    font-size: 2em;
    display: block;
    margin: 0 auto;
    @include desktop {
      display: flex;
      justify-content: space-around;
    }
  }
  .day {
    margin-top: 50px;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    border-radius: 10px;
    @include desktop {
      width: 30%;
      margin: 50px;
    }
    h2 {
      border-bottom: 3px solid #ff5400;
      margin: 5px;
    }
    ul {
      list-style: none;
      padding: 0 0 0 30px;
      text-align: left;
      li {
        height: 50px;
        margin-top: 5px;
        a {
          text-decoration: none;
          color: black;
        }
        a:hover {
          cursor: pointer;
        }
        img {
          width: 50px;
        }
      }
    }
  }
  .friday {}
  .saturday {}

}
p {
  font-size: 1.25rem;
  text-align: center;
}
