// Events Page


.container {
  text-align: center;
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  background: rgba(255,255,255,.8);
  border-radius: 10px;
  h1 {
    margin: 0;
  }
  .days {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
}
