// Events Page


.container {
  text-align: center;
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  background: rgba(255,255,255,.8);
  border-radius: 10px;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}
