.black {
  background: black;
}

.selected {
  color: $c-page-selected;
}

#last-call {
  z-index: 50000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  text-align: center;
  .blackout {
    background: $c-content-background-dark;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .container {
    position: relative;
    font-size: 1.5em;
    background: $c-content-background-light-opaque;
    width: 50%;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    .close {
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 1rem;
    }
    h2 {
      margin: 0;
    }
    .buy {
      border: none;
      padding: 10px;
      background: $c-button-primary-background;
      color: $c-text-light;
      border-radius: 10px;
    }
    .buy:hover {
      background: $c-button-background-hover;
    }
  }
  .animate {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }
}

video {
  display: none;
  @include desktop {
    // display: block;
    // position: fixed;
    // z-index: -1000;];
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

.background-image {

  text-align: center;
  position: fixed;
  margin-top: 50px;
  @include desktop {

    display: none;
  }
  img {
    max-width: 100%;
  }
}

.t-wrapper {
  position: fixed;
  width: 100%;
  text-align: center;
  color: $c-text-light;
  top: 5vh;

  @include desktop {
    position: absolute;
    margin-top: 5vh;
    background: none;
    top: auto;
  }
  @include desktopShort {
    margin-top: 10vh;
  }
  .logo {
    width: 60%;
    @include desktop {
      width: 40%;
    }
    @include desktopShort {
      width: 30%;
    }
  }
}


.cta {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;

  background: $c-content-background-dark-opaque;
  text-align: center;
  @include desktop {
    top: 60%;
    float: right;
    right: 10vw;
    width: 500px;
    background: $c-content-background-dark;
    border-radius: 10px;
    height: 210px;
  }
  @include desktopShort {
    top: 55%;
    width: 400px;
    height: 185px;
  }
  h2 {
    color: $c-text-light;
    font-size: 1.5rem;
    border-bottom: 3px solid $c-primary-underline;
    margin-top: 5px;
    margin-bottom: 0;
    @include desktop {
      font-size: 2em;

    }
    @include desktopShort {
      font-size: 1.6em;
    }
  }
  #countdown {
    //background-color: $c-primary-underline;
    margin-top: 0;
    margin-bottom: 25px;
  }
  h3 {
    color: $c-text-light;
    font-size: 1.2rem;
    margin: 0 0 5px 0;
  }
  button {
    position: relative;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    @include desktop {
      font-size: 2em;
      top: 30%;
    }
    @include desktopShort {
      font-size: 1.5em;
    }
  }
  #w-pass {
    background: $c-button-primary-background;
    color: $c-text-light;
  }
  #vip-pass {
    background: $c-button-special-background;
    color: $c-text-dark;
  }
  #vip-pass:hover, #w-pass:hover {
    background: $c-button-background-hover;
    color: $c-text-light;
  }
}

.sponsors {
  width: 100%;
  bottom: 50px;
  position: fixed;
  text-align: center;
  margin-bottom: 130px;
  background-color: black;
  @include desktop {
    background-color: transparent;
    margin: 0;
  }
  img {
    display: inline-block;
    width: 15%;
    @include desktop {
      width: 15%;
    }
    @include desktopShort {
      width: 10%
    }
  }
  #faust-logo {
    margin-top: 10px;
    width: 15%;
    @include desktop {
      width: 13.5%;
    }
    @include desktopShort {
      width: 8.5%;
    }
  }
  #acu-logo {
    width: 23%;
    @include desktop {
      width: 20%;
    }
    @include desktopShort {
      width: 20%;
    }
  }
  #lions-logo {
    width: 10%;
    @include desktop {
      width: 9.5%;
    }
    @include desktopShort {
      width: 6.5%;
    }
  }
}
