.black {
  background: black;
}

.selected {
  color: $c-page-selected;
}

#last-call {
  z-index: 50000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  text-align: center;
  .blackout {
    background: $c-content-background-dark;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .container {
    position: relative;
    font-size: 1.5em;
    background: $c-content-background-light-opaque;
    width: 50%;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    .close {
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 1rem;
    }
    h2 {
      margin: 0;
    }
    .buy {
      border: none;
      padding: 10px;
      background: $c-button-primary-background;
      color: $c-text-light;
      border-radius: 10px;
    }
    .buy:hover {
      background: $c-button-background-hover;
    }
  }
  .animate {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }
}

video {
  display: none;
  @include desktop {
    // display: block;
    // position: fixed;
    // z-index: -1000;];
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

.background-image {

  text-align: center;
  position: fixed;
  margin-top: 50px;
  bottom: 0;
  width: 200%;
  @include desktop {

    display: none;
  }
  img {
    max-width: 100%;
  }
}

.t-wrapper {
  position: fixed;
  width: 100%;
  text-align: center;
  color: $c-text-light;
  top: 5vh;
  @include mobile-landscape {
    text-align: left;
    width: 125vh;
  }
  @include desktop {
    position: absolute;
    margin-top: 5vh;
    background: none;
    top: auto;
  }
  @include desktopShort {
    //margin-top: 10vh;
    text-align: left;
    padding-left: 3%;
    top: 5vh;
    margin: 0;
  }
  .logo {
    width: 60%;
    @include mobile-landscape {
      margin-top: 10px;
    }

    @include desktop {
      width: 50vh;
      max-width: 50%;
    }
    @include desktopShort {
      width: 70vh;
      max-width: 50%;
    }
    @include desktopShortWide {
      //width: 30%
    }
    @include desktopTallNarrow {
      width: 60vh;
      max-width: 50%;
    }
  }
}


.cta {
  z-index: 100;
  position: fixed;
  bottom: 15vw;
  width: 100%;
  background: transparent;
  text-align: center;
  @include mobile-landscape {
    width: 50%;
    margin-left: 45%;
    bottom: 50%;
    transform: translateY(50%);
  }
  @include desktop {
    top: 50vh;
    float: right;
    right: 10vw;
    width: 500px;
    background: $c-content-background-dark;
    border-radius: 10px;
    height: 310px;
  }
  @include desktopShort {
    background: $c-content-background-dark-opaque;
    top: 25%;
    width: 400px;
    height: 285px;
    right: 10;
  }
  h2 {
    color: $c-text-medium;
    font-size: 1.5rem;
    //border-bottom: 3px solid $c-primary-underline;
    margin-top: 5px;
    margin-bottom: 0;
    @include desktop {
      font-size: 2em;
      color: $c-text-light;
    }
    @include desktopShort {
      font-size: 1.6em;
      color: $c-text-light;
    }
  }
  #countdown {
    background-color: $c-content-background-medium;
    margin-top: 0;
    margin-bottom: 25px;
    color: red;
    @include mobile-landscape {
      margin: 0;
    }
  }
  h3 {
    color: $c-text-light;
    font-size: 1.2rem;
    margin: 0 0 5px 0;
    @include desktop {
      color: $c-text-light;
    }
  }
  button {
    position: relative;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    font-size: .8em;
    margin: 5px;
    @include mobile-landscape {
      width: 40%;
      font-size: .8em;
      margin: 5px;
      padding: 3 0;
    }
    @include desktop {
      font-size: 2em;
      top: 30%;
    }
    @include desktopShort {
      font-size: 1.5em;
    }

  }
  #w-pass {
    background: $c-button-primary-background;
    color: $c-text-light;
  }
  #vip-pass {
    background: $c-button-special-background;
    color: $c-text-dark;
  }
  #vip-pass:hover, #w-pass:hover {
    background: $c-button-background-hover;
    color: $c-text-light;
  }
  .ticket-info {
    color: $c-text-light;
    @include desktop {
      color: $c-text-light;
    }
    h3 {
      margin: 0;
    }
    h4 {
      margin: 0;
    }
    .days {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      h3 {
        text-decoration: underline;
      }
      ul {
        padding: 0;
        margin: 5px;
        li {
          color: white;
          list-style: none;
        }
      }
    }
  }
}

.sponsors {
  padding: 5px;
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
  margin-bottom: 0;
  background-color: $c-content-background-medium;
  z-index: 1000;
  .desktop {
    display: none;
    @include desktop {
      display: inline-block;
    }
  }
  .mobile {
    display: inline-block;
    @include desktop {
      display: none;
    }
  }
  @include desktop {
    background-color: transparent;
    margin: 0;
  }
  img {
    display: inline-block;
    width: 15%;
    @include mobile-landscape {
      width: 10%;
    }
    @include desktop {
      width: 15%;
    }
    @include desktopShort {
      width: 10%
    }
  }
  #faust-logo {
    margin-top: 10px;
    width: 15%;
    @include desktop {
      width: 13.5%;
    }
    @include desktopShort {
      width: 8.5%;
    }
  }
  .acu-logo {
    width: 30%;
    @include mobile-landscape {
      width: 20%;
    }
    @include desktop {
      width: 20%;
    }
    @include desktopShort {
      width: 20%;
    }
  }
  #whataburger-logo {
    width: 10%;
    @include mobile-landscape {
      width: 6%;
    }
    @include desktop {
      width: 9.5%;
    }
    @include desktopShort {
      width: 6.5%;
    }
  }
}
