.black {
  background: black;
}

.selected {
  color: #ff5400;
}

#last-call {
  z-index: 50000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  // background: rgba(0,0,0,0.8);
  display: none;
  .blackout {
    background: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .container {
    background: white;
    position: relative;
    font-size: 1.5em;
    .close {
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 1rem;
    }
    h2 {
      margin: 0;
    }
    .buy {
      border: none;
      padding: 10px;
      background: #ff5400;
      color: white;
      border-radius: 10px;
    }
    .buy:hover {
      background: green;
    }
  }
  .animate {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }
}

video {
  display: none;
  @include desktop {
    // display: block;
    // position: fixed;
    // z-index: -1000;];
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

.background-image {

  text-align: center;
  position: fixed;
  margin-top: 50px;
  @include desktop {

    display: none;
  }
  img {
    max-width: 100%;
  }
}

.t-wrapper {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  //text-shadow: 1px 1px 2px rgba(246, 240, 215, .3);
  top: 5vh;

  @include desktop {
    position: absolute;
    margin-top: 5vh;
    background: none;
    top: auto;
  }
  @include desktopShort {
    margin-top: 10vh;
  }
  .logo {
    width: 60%;
    @include desktop {
      width: 40%;
    }
    @include desktopShort {
      width: 30%;
    }
  }
}


.cta {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;

  background: rgba(0 , 0, 0, 1);
  text-align: center;
  @include desktop {
    top: 65%;
    float: right;
    right: 10vw;
    width: 500px;
    background: rgba(0 , 0, 0, 0.7);
    border-radius: 10px;
    height: 200px;
  }
  @include desktopShort {
    top: 60%;
    width: 400px;
    height: 165px;
  }
  h2 {
    color: white;
    font-size: 1.5rem;
    border-bottom: 3px solid #ff5400;
    margin-top: 5px;
    @include desktop {
      font-size: 2em;
    }
    @include desktopShort {
      font-size: 1.6em;
    }
  }
  h3 {
    color: white;
    font-size: 1.2rem;
    margin: 0 0 5px 0;
  }
  button {
    position: relative;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    @include desktop {
      font-size: 2em;
      top: 30%;
    }
    @include desktopShort {
      font-size: 1.5em;
    }
  }
  #w-pass {
    background: #FF5400;
    color: white;
  }
  #vip-pass {
    background: gold;
    color: black;
  }
  #vip-pass:hover, #w-pass:hover {
    background: green;
    color: white;
  }
}

.sponsors {
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
  margin-bottom: 145px;
  @include desktop {
    margin: 0;
  }
  img {
    display: inline-block;
    width: 25%;
    @include desktop {
      width: 15%;
    }
    @include desktopShort {
      width: 10%
    }
  }
  #lions-logo {
    width: 14%;
    @include desktop {
      width: 9.5%;
    }
    @include desktopShort {
      width: 6.5%;
    }
  }
}
