.black {
  background: black;
}

.selected {
  color: #ff5400;
}

video {
  display: none;
  @include desktop {
    display: block;
    position: fixed;
    z-index: -1000;
  }
}

.background-image {

  text-align: center;
  position: fixed;
  @include desktop {
    margin-top: 50px;
    display: none;
  }
  img {
    max-width: 100%;
  }
}

.t-wrapper {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 1px 3px black;
  top: 15vh;
  background: rgba(0 , 0, 0, 0.6);
  @include desktop {
    position: absolute;
    margin-top: 20vh;
    background: none;
    top: auto;
  }
  .title {
    position: relative;
    font-size: 200%;
    margin-bottom: 10px;
    @include desktop {
      font-size: 500%;
    }
  }
  .subtitle {
    font-size: 100%;
    margin: 0;
    margin-bottom: 21px;
    @include desktop {
      font-size: 200%;
    }
  }
}


.cta {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;

  background: rgba(0 , 0, 0, 1);
  text-align: center;
  @include desktop {
    top: 55%;
    float: right;
    right: 10vw;
    width: 500px;
    background: rgba(0 , 0, 0, 0.7);
    border-radius: 10px;
    height: 200px;
  }
  h3 {
    color: white;
    font-size: 1.3rem;
    border-bottom: 3px solid #ff5400;
  }
  button {
    position: relative;
    font-size: 1em;
    margin: 20px;
    margin-top: 0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    @include desktop {
      font-size: 2em;
      top: 30%;
    }
  }
  #w-pass {
    background: #FF5400;
    color: white;
  }
  #vip-pass {
    background: gold;
    color: black;
  }
  #vip-pass:hover, #w-pass:hover {
    background: green;
    color: white;
  }
}
