.black {
  background: black;
}

.selected {
  color: #ff5400;
}

#last-call {
  z-index: 50000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: none;
  .container {
    background: white;
    position: relative;
    .close {
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
    }
    .buy {
      border: none;
      padding: 10px;
      background: #ff5400;
      color: white;
      border-radius: 10px;
    }
    .buy:hover {
      background: green;
    }
  }
  .animate {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }
}

video {
  display: none;
  @include desktop {
    display: block;
    position: fixed;
    z-index: -1000;
  }
}

.background-image {

  text-align: center;
  position: fixed;
  margin-top: 50px;
  @include desktop {

    display: none;
  }
  img {
    max-width: 100%;
  }
}

.t-wrapper {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 1px 3px black;
  top: 15vh;
  background: rgba(0 , 0, 0, 0.6);
  @include desktop {
    position: absolute;
    margin-top: 20vh;
    background: none;
    top: auto;
  }
  .title {
    position: relative;
    font-size: 200%;
    margin-bottom: 10px;
    @include desktop {
      font-size: 500%;
    }
  }
  .subtitle {
    font-size: 100%;
    margin: 0;
    margin-bottom: 21px;
    @include desktop {
      font-size: 200%;
    }
  }
}


.cta {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;

  background: rgba(0 , 0, 0, 1);
  text-align: center;
  @include desktop {
    top: 55%;
    float: right;
    right: 10vw;
    width: 500px;
    background: rgba(0 , 0, 0, 0.7);
    border-radius: 10px;
    height: 200px;
  }
  h3 {
    color: white;
    font-size: 1.2rem;
    border-bottom: 3px solid #ff5400;
    @include desktop {
      font-size: 1.3rem;
    }
  }
  button {
    position: relative;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    @include desktop {
      font-size: 2em;
      top: 30%;
    }
  }
  #w-pass {
    background: #FF5400;
    color: white;
  }
  #vip-pass {
    background: gold;
    color: black;
  }
  #vip-pass:hover, #w-pass:hover {
    background: green;
    color: white;
  }
}
